
h2{
    font-weight: none;
    color:   rgb(255, 255, 255);
}



h4{
    font-weight: none;
    color:   rgb(255, 255, 255);
}

#BGS {
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
}