body {
    background-color: rgb(0, 0, 0);
}

h1 {
    color: rgb(255, 175, 2);
    font-size: 100;
    text-align: center;
    text-decoration: underline;
    font-family: Verdana;
}

tr {

    color: rgb(255, 153, 19);
    font-size: 40;
    text-align: center;
    font-family: Verdana;
}