body {
  background-color: pink;
}

h1 {
  color: rgb(236, 28, 28);
  font-size: 50;
  text-align: center;
  text-decoration: underline;
  font-family: Verdana;
}

h2 {
  color: rgb(64, 3, 233);
  font-size: 20;
  text-align: center;
  font-weight: master;
  font-family: Verdana;
}

p {
  font-style: italic;
}

#l1 {
  color: rgb(240, 64, 202);
  font-style: italic;
}

.l2 {
  color: rgb(151, 0, 101);
  font-style: italic;
  text-decoration: underline;
}