body {
    background-color: rgb(220, 255, 155);
}

h1 {
    color: rgb(32, 12, 12);
    font-size: 50;
    text-align: center;
    text-decoration: underline;
    font-family: Verdana;
}

tr {

    color: rgb(180, 39, 39);
    font-size: 10;
    text-align: center;
    font-family: Verdana;
}